<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Counter App</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/stayle.css' %}">   
</head>
<body>
    <h1>Counter App</h1>
    <p>Page visits: {{ visits }}</p>
    <p>Counter value: {{ counter }}</p>

    <form action="/custom_increment/" method="post">
        {% csrf_token %}
        <label>Increment by:</label>
        <input type="number" name="increment" >
        <button type="submit">Update Counter</button>
    </form>

    <a href="/increment_by_two/">+2</a>
    <a href="/destroy_session/">Reset</a>
</body>
</html>