*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0 auto;
    text-align: center;
    margin: 200px 0 0 0;

}
body form{
    margin: 30px 0 0 0;

}

input {
    border: solid black 2px;
    width: 80px;
    height: 40px;
}

button{
    border: solid black 2px;
    width: 100px;
    height: 40px; 
    margin: 5px 0 0 0 ;   
}
 
.low{
    height: 120px;
    width: 120px;
    color: white;
    font-size: 22px;
    background-color: red;
    border: solid black 2px;
    margin: 0 auto ;
    padding: 30px;

}

.high{
    height: 120px;
    width: 120px;
    color: white;
    font-size: 22px;
    background-color: orange;
    border: solid black 2px;
    margin: 0 auto;
    padding: 30px;



}

.correct{
    height: 120px;
    width: 120px;
    color: white;
    font-size: 22px;
    background-color: green;
    border: solid black 2px;
    margin: 0 auto ;
    padding: 30px;



}