<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Gmam</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>

<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100<br />Take a guess!</p>
    <form action="/guess/" method="post">
        {% csrf_token %}
        <input type="number" name="guess" required min="1" max="100"><br>
        <button type="submit">Submit Guess</button>
    </form>

</body>

</html>