@media print {
.m_rs_main_odd { background-color:#fff !important; min-height:46px !important; height:auto !important; float:left !important; border-bottom:1px solid #ddd !important; width:100% !important; }
.m_rs_main_even { background-color:#fff !important; min-height:46px !important; float:left !important; border-bottom:1px solid #ddd !important; width:100% !important; height:auto !important; }
.m_rs_main_left,.m_rs_main_right { width:100% !important; min-height:46px !important; height:auto !important; }
.m_left_rs{ width:45% !important; padding:9px 0 0 10px !important; font-size:15px !important; font-weight:bold !important; height:auto !important; border-right:1px solid #ddd !important; }
.m_right_rs{ width:45% !important; padding:9px 0 0 10px !important; font-size:15px !important; font-weight:normal !important; height:auto !important; }
.m_main_report_summary { border:border-bottom:1px solid #ddd !important; margin:10px 3% 0px 3% !important; float:left !important; width:95% !important; height:auto !important; } .m_top{ brrder:0 !important;}
}


Table p { line-height:normal !important; }