* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #245075;
    margin: 0 auto;

}

main {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header section p {
    color: white;
    margin-left: 50px;
    padding: 5px;
}

header section p span {
    color: black;
}

header section p a {
    color: yellow;
}

.input-section {
    background-color: #444444;
    padding: 20px;
    border-radius: 7px;
    box-shadow: black 2px 2px 2px;

}

.search-input {
    text-align: center;
    padding: 10px;

}

.login-button {
    color: white;
    background-color: #245074;
    padding: 6px;
    border-radius: 7px;
    border: solid grey 2px;
}

nav {
    margin: 0 auto;
    margin: 20px 200px 20px 200px;
    background-color: #3e7aae;
    border-radius: 7px;
    box-shadow: black 2px 2px 2px;

}

nav ul {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;


}

.menu {
    padding: 20px;
    list-style-type: none;
    margin-right: 10px 30px 0px 600px;
}

.menu li {
    margin: 10px 0;
    text-align: center;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu a:hover {
    color: #FFD700;
}

.menu li::before {
    content: '» ';
    color: #FFD700;
}

.python-top {
    display: flex;
    margin-left: 200px;
    width: 95%;
}

article p {
    width: 600px;
    line-height: 1;
    font-size: 18px;
    text-align: center;
    margin-left: 40px;
}

.zen-text {
    color: #FFD700;
    font-style: italic;
    font-size: 24px;
    text-align: center;

}

.author {
    margin: 20px 0px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.python-bottom {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    height: 280px;
    width: 100%;
    margin: 0 auto;

}

.column {
    background-color: white;
    padding: 25px;
    margin-left: 20px;
    width: 700px;

}

.header-line {
    border-top: 4px solid #6495ED;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

.header-line h2 {
    height: 250px;
    color: #333;
    font-weight: bold;

}

.header-line p {
    color: #666;
    font-size: 14px;

}

#botton-list li {
    list-style-type: square;
    text-align: center;
    width: 300px;
    margin: 4px 0px 4px 150px;

}

.header-line a {
    list-style-type: square;
    color: #6495ED;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

.footer {
    font-size: large;

    color: #74a8d5;
    text-align: center;
    padding: 15px;

}

.footer span {
    margin: 0px 15px 0px 15px;
}