.container{
  margin: 0 auto;
  align-items: center;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.square{
    height: 150px;
    width: 150px;
    margin: 10px;
}
h1{
    text-align: center;
}